NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auth_db

# JWT & RSA Keys
KEYS_DIR=.secrets
JWT_ACCESS_TOKEN_MINS_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_DAYS_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
